body {
	width: 400px;
	height: 280px;
	padding: 3px;
	font-family: Arial, Helvetica, sans-serif;
	color: #666;
}

a {
	font-size: 8pt;
	color: darkslategray;
}

p {
	text-align: left;
	margin: 0px;
	padding-bottom: 5px;
}

.popup-product-info {
	font-size: 14pt;
	color: black;
	padding-left: 5px;
	padding-right: 5px;
	text-align: right;

/*	border: solid black 1px;*/
}

.maintab-left {
	float: left;
	width: 36%;
	height: 100%;
	border-right: solid black 1px;

/*	border: solid red 1px;*/
}

.maintab-right {
	float: right;
	width: 62%;
	height: 100%;
	padding-top: 10px;

/*	border: solid blue 1px;*/
}

.ethic-rater-circle {
	height: 105px;
	width: 105px;
	border-radius: 60px;
	text-align: center;
	vertical-align: center;
	margin-bottom: 5px;

	border: solid black 1px;
}

.ethic-rater-rating {
	font-size: 56pt;
	font-weight: bold;
	color: black;
	padding-left: 5px;
	padding-top: 5px;
	line-height: 1em;
}

.ethic-rater-rating-small {
	font-size: 12pt;
	line-height: 1em;
	color: #666;
}

.maintab-left-list {
	list-style: none;
	padding-left: 0px;
}

.co2-units-display {
	height: 20%;
	width: auto;
	margin-bottom: 10px;
	border-radius: 5px;
	text-align: center;
	vertical-align: center;
	color: black;
	font-size: 32pt;
	font-weight: bold;

	border: solid black 1px;
}

.co2-facts {
	height: 40%;
	width: auto;
	padding: 5px;
	font-size: 12pt;

/*	border: solid black 1px;*/
}
